.container {
    display: flex;
    flex-direction: column;
}

.recipe {
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);
    margin: 20px 0px;
    border: 3px solid var(--color-main);
    border-radius: 12px;
    padding: 16px;
    width: 456px;
    box-shadow: 9px 11px 21px -5px rgba(0,0,0,0.58);
    -webkit-box-shadow: 9px 11px 21px -5px rgba(0,0,0,0.58);
    -moz-box-shadow: 9px 11px 21px -5px rgba(0,0,0,0.58);
}

.recipe:hover {
    background-color: var(--color-light-green);
}

.recipe__header {
    display: flex;
    justify-content: space-between;
}

.recipe__name{
    margin-left: 12px;
    font-size: 1.1rem;
    font-weight: var(--weight-bold);
    color: var(--color-black);
}

.carbon__output{
    font-size: 1.1rem;
    font-weight: var(--weight-bold);
    color: var(--color-green);
}

.recipe__content{
    display: flex;
    justify-content: flex-start;
    margin-top: 12px;
}

.recipe__img{
    width: 120px;
    height: 90px;
}

.ingredient__list{
    margin-left: 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.exist__list{
    margin-top: 12px;
    margin-bottom: 12px;
    color: var(--color-green);
    font-size: 1rem;
    font-weight: var(--weight-semi-bold);
}

.not__exist__list{
    color: var(--color-red);
    font-weight: var(--weight-semi-bold);
    font-size: 1rem;
}