.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin-top: 60px;
}

.food__container {
    display: flex;  
    flex-direction: column;
    background-color: var(--color-main);
    border-radius: 1rem;
}